<div class="container body-content">
    <div class="row">

            <div class="col-md-6">
                <article>
                    <header>
                        <h2>Welcome!</h2>
                    </header>

                    <h4>{{this.user.fullName}}
                    </h4>

                    <small class="author">
                        {{this.user.email}}
                    </small>

                    <footer>
                        <div class="pull-right">

                        </div>
                    </footer>
                </article>
            </div>

    </div>
</div>
