{% extends 'base.htm.twig' %}

{% block main %}
    <div class="table-container">
        <table border="1" class="table">
            <thead class="thead-light">
            <tr>
                <th>Part name</th>
                <td>{{ part.name }}</td>
            </tr>
            <tr>
                <th>Part supplier</th>
                <td>{{ part.supplier }}</td>
            </tr>
            <tr>
                <th>Part price</th>
                <td>{{ part.price }}</td>
            </tr>
        </table>
    </div>
    {{ form(form) }}
{% endblock %}