{% extends 'index.html.twig' %}

{% block main %}
    <div>
        <div class="body-content">
            <div class="row">
                {% for part in pagination %}

                    <div class="col-md-6">
                        <div class="table-container">
                            <table border="1" class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th>Make</th>
                                    <td>{{ part.name }}</td>
                                </tr>
                                <tr>
                                    <th>Model</th>
                                    <td>{{ part.price }}</td>
                                </tr>
                                <tr>
                                    <th>Travelled Distance</th>
                                    <td>{{ part.supplier }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {# display navigation #}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

