* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body{
    width: 80vw;
    margin: 0 auto;
    background: rgb(238, 238, 238);
}

header nav{
    display: inline-block;
    margin-left: 650px;
}

header nav ul li {
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
    color: green;
}
main{
    width: 72%;
    display: inline-block;
    padding-top: 1rem;
}

aside{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1.5rem;
    padding-top: 1rem;
}

aside section{
    padding-bottom: 1rem;
}

aside section nav ul li {
    margin-left: 2rem;
    list-style-type: square;
}

aside section nav ul li a{
    text-decoration: none;
    color: green;
}

h1, h2, h3, h4, h5, h6{
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

.site-title{
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    font-size: 2rem;
}

img {
    border: 2px solid black;
    padding: 1rem;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);

}

main article:first-child img{
    float: right;
    margin-left: 1rem;
}

main article:last-child img{
    float: left;
    margin-right: 1rem;
}

p {
    margin: 1rem 1rem 1rem 0;
}

blockquote{
    font-family: Georgia, serif;
    width: 40vw;
    border-left: 2px solid grey;
    padding-left: 1rem;
    margin-left: 1rem;
    font-style: italic;
    float: right;

}

blockquote p:last-child{
    text-align: right;
}

main article:nth-child(2) section p:nth-child(3) {
    display: block;
}
