@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,800');

html{
    font-family: Fira Sans, sans-serif;
    line-height: 1.5;
}

@media (min-width: 500px) and (max-width: 700px) {
    html{
        font-size: var(--min-width-500);
    }
}

@media ( min-width: 700px) and (max-width: 1600px) {
    html{
        font-size: var(--min-width-700);
    }
}

@media ( min-width: 1600px) {
    html{
        font-size: var(--min-width-1600);
    }
}