* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div,
section {
    display: flex;
}

span {
    border: 1px solid black;
    text-align: center;
}

.container {
    max-width: 65vw;
    margin: 5rem auto;
}

.notes {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: auto;

}

.week {
    flex-wrap: wrap;
    width: 80%;
}

.week span {
    width: 20%;
    padding: 1rem 0 4rem 0;
    flex-grow: 1;
}

.notes span{
    padding-top: 0.5rem;
    flex-grow: 1;
}

span:nth-child(1) {
    width: 100%;
}

span:nth-child(7) {
    width: 100%;
}
