
html {
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}


body{
    background: rgb(238, 238, 238);
    color:  rgb(51, 51, 51);
    width: 70%;
    margin: 0 auto;
}


body article{
    width: 70%;
}


body article img{
    width: 70%;
    height: auto;
}

body aside{
    width: 28%;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid grey;
}

body aside ul li{
    padding-bottom: 10px;
    list-style-type: none;
}

body aside ul li a{
    text-decoration: none;
    color: black;
}

body aside ul li a:hover{
    font-size: 1.5rem;
}

.main,
.sidebar{
    display: inline-block;
    vertical-align: top;
}