<form method="post" name="register">
    <label>
        Email :
        <input type="text" name="user[email]"/>
    </label>
    <label>
        Full Name :
        <input type="text" name="user[fullName]"/>
    </label>
    <label>
        Password :
        <input type="password" name="user[password]"/>
    </label>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('register') }}"/>
    <input type="submit" value="Register">
</form>
